footer {
  height: 30.6rem;
  background-color: #24CF5F;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}
.footer-container-one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 56.2rem;
  height: 26.3rem;
}
.footer-input-wrapper{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
}
.footer-input-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 502px;
  height: 72px;
}
.footer-input-inner p{
  color: #fff;
  height: 22px;
  margin-top: 10px;
}
.footer-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.footer-nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 562px;
  margin-bottom: 10px;
}
.footer-nav ul li{
  width: 57px;
  height: 17px;
  text-align: center;
  font-size: small;
  color: #fff;
}
.footer-input-wrapper input{
  border-radius: 36px;
  width: 380px;
}
::placeholder{
  color: #0A142F;
}
.social{
  display: flex;
  justify-content: center;
}
.social ul{
  list-style: none;
  width: 90.99px;

}
.copyright{
  margin-top: 10px;
  color: #fff;
  font-size: small;
}
// .footer-logo {
//   height: 2.5em;
//   margin-bottom: 1em;
// }
// .footer-logo svg {
//   width: inherit;
//   height: inherit;
// }
// footer > p {
//   font-size: 1em;
// }
// .footer-two h4 {
//   margin-bottom: 1em;
// }
// .footer-three h4 {
//   margin-bottom: 1em;
// }
// .footer-four h4 {
//   margin-bottom: 1em;
// }

@media only screen and (min-width: 731px) {
  footer {
    color: black;
  }
  // .footer-all {
  //   max-width: 30em;
  // }
  // .footer-one {
  //   width: 25em;
  //   // margin-right: 1em;
  // }
  // .footer-one h4 {
  //   width: 15em;
  // }
}
