* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}

// @media only screen and (min-width: 731px) {
//   .App {
//     width: 95vw;
//     margin: 0 auto;
//   }
// }
